In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
ss=pd.read_csv("bitcoins.csv")

In [4]:
ss

,date,Open,High,Low,close,Vol.,Change %
0,18-Jul-10,0,0.1,0.1,0.10000,0.08K,0.00%
1,19-Jul-10,0.1,0.1,0.1,0.10000,0.57K,0.00%
2,20-Jul-10,0.1,0.1,0.1,0.10000,0.26K,0.00%
3,21-Jul-10,0.1,0.1,0.1,0.10000,0.58K,0.00%
4,22-Jul-10,0.1,0.1,0.1,0.10000,2.16K,0.00%
...,...,...,...,...,...,...,...
5051,31/03/2024,69647.78125,71377.78125,69624.86719,71333.64844,71333.64844,20050941373
5052,01/04/2024,71333.48438,71342.09375,68110.69531,69702.14844,69702.14844,34873527352
5053,02/04/2024,69705.02344,69708.38281,64586.59375,65446.97266,65446.97266,50705240709
5054,03/04/2024,65446.67188,66914.32031,64559.89844,65980.81250,65980.8125,34488018367
5055,04/04/2024,65990.35156,66372.39844,65149.29688,66241.16406,66241.16406,30308956160

In [5]:
ss['date'] = pd.to_datetime(ss['date'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_16120\3831454568.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ss['date'] = pd.to_datetime(ss['date'])

In [6]:
ss['Year'] = ss['date'].dt.year
ss['Month'] =ss['date'].dt.month
ss['Day'] = ss['date'].dt.day
ss['dayOfWeek'] = ss['date'].dt.day_name()


ss.head(419)

,date,Open,High,Low,close,Vol.,Change %,Year,Month,Day,dayOfWeek
0,2010-07-18,0,0.1,0.1,0.1,0.08K,0.00%,2010,7,18,Sunday
1,2010-07-19,0.1,0.1,0.1,0.1,0.57K,0.00%,2010,7,19,Monday
2,2010-07-20,0.1,0.1,0.1,0.1,0.26K,0.00%,2010,7,20,Tuesday
3,2010-07-21,0.1,0.1,0.1,0.1,0.58K,0.00%,2010,7,21,Wednesday
4,2010-07-22,0.1,0.1,0.1,0.1,2.16K,0.00%,2010,7,22,Thursday
...,...,...,...,...,...,...,...,...,...,...,...
414,2011-09-05,8.2,8.2,7.3,7.6,30.80K,-6.97%,2011,9,5,Monday
415,2011-09-06,7.6,7.7,6.1,6.9,82.50K,-9.86%,2011,9,6,Tuesday
416,2011-09-07,6.9,7.6,6.5,7.2,49.64K,4.81%,2011,9,7,Wednesday
417,2011-09-08,7.2,7.2,6.5,6.5,31.89K,-9.18%,2011,9,8,Thursday
418,2011-09-09,6.5,6.6,4.2,5.0,217.43K,-22.97%,2011,9,9,Friday

In [7]:
ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5056 entries, 0 to 5055
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5056 non-null   datetime64[ns]
 1   Open       5056 non-null   object
 2   High       5056 non-null   object
 3   Low        5056 non-null   object
 4   close      5056 non-null   float64
 5   Vol.       5056 non-null   object
 6   Change %   5056 non-null   object
 7   Year       5056 non-null   int32
 8   Month      5056 non-null   int32
 9   Day        5056 non-null   int32
 10  dayOfWeek  5056 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(3), object(6)
memory usage: 375.4+ KB

In [8]:
ss['dayOfWeek'].unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'], dtype=object)

In [9]:
ss.loc[ss['dayOfWeek']=='Sunday', 'dayOfWeek'] = 0
ss.loc[ss['dayOfWeek']=='Monday', 'dayOfWeek'] = 1
ss.loc[ss['dayOfWeek']=='Tuesday', 'dayOfWeek'] = 2
ss.loc[ss['dayOfWeek']=='Wednesday', 'dayOfWeek'] = 3
ss.loc[ss['dayOfWeek']=='Thursday', 'dayOfWeek'] = 4
ss.loc[ss['dayOfWeek']=='Friday', 'dayOfWeek'] = 5
ss.loc[ss['dayOfWeek']=='Saturday', 'dayOfWeek'] = 6

In [10]:
ss['close']= pd.to_numeric(ss['close'])

In [11]:
ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5056 entries, 0 to 5055
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5056 non-null   datetime64[ns]
 1   Open       5056 non-null   object
 2   High       5056 non-null   object
 3   Low        5056 non-null   object
 4   close      5056 non-null   float64
 5   Vol.       5056 non-null   object
 6   Change %   5056 non-null   object
 7   Year       5056 non-null   int32
 8   Month      5056 non-null   int32
 9   Day        5056 non-null   int32
 10  dayOfWeek  5056 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(3), object(6)
memory usage: 375.4+ KB

In [12]:
y=ss['close']

In [13]:
X = ss[['Day','dayOfWeek','Month','Year']]

In [14]:
poly2 = PolynomialFeatures(degree =2)
X_poly = poly2.fit_transform(X)

In [15]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=50, random_state=0)
regressor.fit(X_poly,y)

RandomForestRegressor(n_estimators=50, random_state=0)

In [16]:
print(regressor.score(X_poly,y))

0.997161998015548

In [17]:
Day = 4

dayOfWeek =4

Month =4
Year =2024


#Samples = Samples_31_July[0,0]
X1 = np.array([[Day,dayOfWeek,Month,Year]])
Total_infections  = regressor.predict(poly2.fit_transform(X1))

In [18]:
print('Total No of cases -> {}'.format(int(Total_infections[0])))

Total No of cases -> 66068

In [19]:
import pickle

pickle.dump(poly2,open('poly.pkl','wb'))
pol = pickle.load(open('poly.pkl','rb'))

In [20]:
import pickle

pickle.dump(regressor,open('regressor.pkl','wb'))
regresso = pickle.load(open('regressor.pkl','rb'))